@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,700|Roboto+Condensed:400,700|Roboto+Mono&display=swap');
/*
	font-family: 'Roboto Condensed', sans-serif;
	font-family: 'Roboto Mono', monospace;
	font-family: 'Noto Serif', serif;
*/

a:link, a:visited {
	color: blue;
}

a:focus, a:hover {
	background-color: #ddddff;
	border-radius: 5px;
	text-decoration: underline;
	transition-duration: 0.2s;
	transition-property: background;
}

body {
	font-family: 'Noto Serif', serif;
	font-size: 18px;
}

h1, h2 {
	font-family: 'Roboto Condensed', sans-serif;
	letter-spacing: .05em;
	margin: 1.5rem auto;
	text-align: center;	
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2.25rem;
}

header {
	text-align: center;
}

main {
	display:grid;
}

p {
	line-height: 140%;
	margin-bottom: 1em;
}

#intro {
	font-size: 22px;
}
/* not sure if this is what you're looking for here */
#automotive, #maritime, #medical, #physics, #myths {
	border-top:1px solid black;
}

#footer-container {
	display:grid;
	grid-template-rows:100px;
	align-items: end;
}

#header-container {
	display:grid;
	grid-template-rows: 200px;
	align-items:center;
}

#main-container {
	display:grid;
	grid-template-columns: 1fr 2fr 1fr;
	gap:10px;
}